<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_tin_tuc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_tin_tuc"
        android:usesCleartextTraffic="true">
        <activity android:name=".Edit_Infor"></activity>
        <activity android:name=".Dang_ky" />
        <activity android:name=".Cmt" />
        <activity android:name=".Infor_User" />
        <activity android:name=".Users" />
        <activity android:name=".Home_Category" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>